.section-nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $light-gray;
  position: relative;
}

.section-nav ul {
  display: flex;
}

.section-nav ul li {
  margin: 10px 10px;
}

.section-nav a {
  font-family: $sans-serif;
}

.section-nav a:hover {
  background-color: $lightest-gray;
}

.section-nav li:last-of-type a:hover {
  text-decoration: underline;
}
